.overall {
    background-color: white;
    min-height: 100vh;
    justify-content: center;
}

.screenName {
    margin-top: 0px;
    padding-top: 60px;
    text-align: center;
    text-align: center;
    font-size: 115px;
    color: #ccf2ff;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				 -1px -1px 0 #000;
    line-height: 130px;
    margin: 20px 200px -20px 200px;
    font-family: 'Times New Roman', Times, serif;
}

.subInfo {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.alignAttempt {
    height: 30vw;
}

.addPlayer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: none;
}

td.eachPlayer {
    border: none;
}

table.playerInfo {
    border: none;
}

.img {
    max-height: 100px
}

.exit {
    text-align: right;
}

.Back-Button {
    color: black;
    background-color: #ccf2ff;
    border-color:  #ccf2ff;
    border-radius: 7px;
    border-width: 15px 15px;
    font-size: large;
    position: absolute;
    margin: 30px 50px 50px 50px;
    top: 0;
    left: 0;
}

.Start-Button {
    color: black;
    background-color: #ccf2ff;
    border-color:  #ccf2ff;
    border-radius: 7px;
    border-width: 15px 15px;
    font-size: x-large;
    margin-top: -150px;
}

#lineTitle {
    text-align: center;
    font-size: 70px;
    color: #ccf2ff;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				 -1px -1px 0 #000;
    line-height: 10px;
    margin: -30px 0 50px 0 ;
    font-family: 'Times New Roman', Times, serif;
}

#bottomLine {
    text-align: center;
    font-size: 70px;
    color: #ccf2ff;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				 -1px -1px 0 #000;
    line-height: 10px;
    margin: -50px 0 50px 0 ;
    font-family: 'Times New Roman', Times, serif;
    bottom: 1%;
    position: absolute;
    width:100%;
}